:root {
  --bg-color: #222;
  --g3: rgb(230, 142, 10);
  --g2: rgb(0, 153, 255);
  --g1: rebeccapurple;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1.0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  display: none;
  position: absolute;
  width: var(--size);
  height: var(--size);
  left: var(--star-left);
  top: var(--star-top);

  /* the following line will result in elements show their initial showing and
     not being processed by javascript */
  /* animation: scale 2000ms ease forwards; */
}

h1 > .magic > .magic-star > svg {
  display: block;
  opacity: 0.9;
  animation: rotate 2000ms linear infinite;
}

h1 > .magic > .magic-star > svg > path {
  fill: var(--g1);
}

h1 > .magic > .magic-text {
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g3),
    var(--g1)
  );
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;
  animation: background-pan 3s linear infinite;
}
